
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
  background: radial-gradient(circle at center, #1d8ecf, #084b72);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #549cc2;
  padding: 20px;
}
/* Style the list inside the menu */
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f100;
  /*height: 300px; /* only for demonstration, should be removed */
}


/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #0a2f58;
  padding: 10px;
  text-align: center;
  color: white;
   
}
h1 {
  font-size: 50px;
}
hr {
  border: 1px solid #1d8ecf;
  margin: 20px 16px;
}
.w3-codespan {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Courier New", Courier, monospace;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.sidenav {
  height: 100%;
  width: 200px;
  position: static;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fcfafa;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #7e7d7d;
}
.active { 
  color: rgb(235, 43, 59);
}
.dropdown-container {
  display: none;  
  padding-left: 8px;
}
nav ul { 
  padding: 0;  
}
